@import "tailwindcss";

@theme {
  --color-primary: #2d6deb;
  --color-secondary: #1c2b48;
  --font-inter: Inter, sans-serif;
}

@layer base {
  html,
  body,
  #root {
    @apply min-h-screen text-secondary font-inter;
  }

  #root {
    @apply flex flex-col p-6;
  }
}
